:root{
    --rojo: #ff2e63;
    --negro: #252a34;
    --azul: #08d9d6;
    --blanco: #eaeaea;
}
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #fff;
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
}

/* IR ARRIBA */
.ir-arriba{
    position: fixed;
    bottom: 100px;
    right: -100%;
    width: 50px;
    height: 50px;
    border: 2px solid var(--rojo);
    background-color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 400ms;
    z-index: 9999;
}
.bt{
    
}
.ir-arriba:hover{
    border: 2px solid var(--blanco);
    background-color: var(--rojo);
}
.ir-arriba:hover span{
    color: var(--blanco);
}
.ir-arriba > span{
    font-size: 30px;
    color: var(--negro);
}
/* IR ARRIBA */



.none{
    display: none;
}
.text-center{
    text-align: center;
}

.modal{
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .6);
    opacity: 0;
    pointer-events: none;
    transition: all 1s;
}
.modal-content{
    position: relative;
}
.modal-content img{
    height: 300px;
    width: 400px;
    justify-content: center;
    align-self: center;
}
.modal-close{
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.modal-close > svg{
    width: 3rem;
    height: 3rem;
    fill: var(--rojo);
}
.modal[id|="trabajo"]:target{
    opacity: 1;
    pointer-events: auto;
}
.contacto-formulario-respuesta svg
{
    fill: var(--rojo);
    color: var(--rojo);
}
/* INCLINACION */

.inclinacion-abajo{
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 0 0 10vh 100vw;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}
.inclinacion-arriba{
    position: absolute;
    top: 0;
    left: 0;
    border-width: 10vh 100vw 0 0;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
    z-index: 10;
}
.modal#gracias:target{
    opacity: 1;
    pointer-events: auto;
}
.contacto-formulario-respuesta{
    padding: 1rem ;
    width: 400px;
    text-align: center;
    background: #fff;
}
.contacto-formulario-respuesta svg{
    margin-top: 2rem;
    width: 4rem;
    height: 4rem;
    fill: var(--primer-color);
}

/* INCLINACION */

/* MENU */

#header{
    position: relative;
    width: 100%;
}
.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #fff;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}
.menu .logo-cont{
    margin-left: 20px;
}
.menu .logo-cont h1 a{
    text-decoration: none;
    font-size: 35px;
    font-weight: 400;
    color: var(--negro);
}
.menu .list-cont{
    margin-right: 20px;
}
.menu .list-cont .lists{
    display: flex;
}
.menu .list-cont .lists li{
    list-style: none;
}
.menu .list-cont .lists li a{
    text-decoration: none;
    margin: 0px 10px;
    padding: 8px;
    color: var(--negro);
    border-radius: 24px;
    font-size: 16px;
    transition: .3s;
}
.menu .list-cont .lists li a.activo{
    background: var(--rojo);
    color: #fff;
}
.menu .list-cont .lists li a:hover{
    background: var(--rojo);
    color: #fff;
}
.btn-menu > .fa-bars{
    display: none;
}

/* MENU */

/* IMG-HEADER */

.img-header{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../img/IMG_1864.JPG);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.img-header .bienvenido{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.img-header .bienvenido h1{
    font-size: 50px;
    color: #fff;
    font-weight: 200;
    padding-top: 40px;
}
.img-header .bienvenido hr{
    width: 400px;
    height: 2px;
    background: #fff;
    border: none;
    margin-top: 5px;
}
.img-header .bienvenido p{
    font-size: 20px;
    color: #fff;
    margin-top: 20px;
}
.img-header .bienvenido > button{
    width: 170px;
    height: 40px;
    background: var(--rojo);
    border-radius: 24px;
    border: none;
    outline: none;
    font-size: 22px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    transition: .5s;
}
.img-header .bienvenido > button:hover{
    background: var(--azul) ;
}

/* IMG-HEADER */

/* NOSOTROS */

.acerca{
    width: 100%;
    margin-top: 120px;
}
.acerca .info-cont{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.acerca .info-cont h1{
    font-size: 50px;
    font-weight: 400;
    color: var(--negro);
    text-align: center;
    margin-bottom: 10px;
}
.acerca .info-cont p{
    text-align: center;
    font-size: 17px;
    color: var(--negro);
    line-height: 35px;
    margin: 10px 0;
}
.acerca .info-cont .acerca-galeria{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.acerca .info-cont .acerca-galeria img{
    width: 90%;
    height: 500px;
    object-fit: cover;
    margin: 10px 10px;
    border-radius: 10px;
    cursor: pointer;
}
.acerca .info-cont .acerca-galeria2{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.acerca .info-cont .acerca-galeria2 img{
    width: calc(33.33% - 10px);
    height: 300px;
    object-fit: cover;
    margin: 10px 10px;
    border-radius: 10px;
    cursor: pointer;
}
.acerca .info-cont .acerca-mas{
    width: 100%;
    display: flex;
    justify-content: center;
}
.acerca .info-cont .acerca-mas > button{
    width: 120px;
    height: 40px;
    background: var(--rojo);
    border-radius: 24px;
    border: none;
    outline: none;
    font-size: 22px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    transition: .5s;
}
.acerca .info-cont .acerca-mas button a{
    text-decoration: none;
    color: #fff;
}
.acerca .info-cont .acerca-mas > button:hover{
    background: var(--azul);
}

/* ------------------------- */

.acerca2{
    width: 100%;
    margin-top: 120px;
}
.acerca2 .info-cont2{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.acerca2 .info-cont2 h1{
    font-size: 50px;
    font-weight: 400;
    color: var(--negro);
    text-align: center;
    margin-bottom: 10px;
}
.acerca2 .info-cont2 p{
    text-align: center;
    font-size: 17px;
    color: var(--negro);
    line-height: 35px;
    margin: 10px 0;
}
.acerca2 .info-cont2 .acerca-galeria2{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.acerca2 .info-cont2 .acerca-galeria2 img{
    width: 90%;
    height: 500px;
    object-fit: cover;
    margin: 10px 10px;
    border-radius: 10px;
    cursor: pointer;
}
.acerca2 .info-cont2 .acerca-galeria2{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.acerca2 .info-cont2 .acerca-galeria2 img{
    width: calc(33.33% - 10px);
    height: 300px;
    object-fit: cover;
    margin: 10px 10px;
    border-radius: 10px;
    cursor: pointer;
}
.acerca2 .info-cont2 .acerca-mas2{
    width: 100%;
    display: flex;

    justify-content: center;
}
.acerca2 .info-cont2 .acerca-mas2 > button{
    width: 120px;
    height: 40px;
    background: var(--rojo);
    border-radius: 24px;
    border: none;
    outline: none;
    font-size: 22px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    transition: .5s;
}
.acerca2 .info-cont2 .acerca-mas2 button a{
    text-decoration: none;
    color: #fff;
}
.acerca2 .info-cont2 .acerca-mas2 > button:hover{
    background: var(--azul);
}

/* NOSOTROS */

/* PROYECTOS */

.proyectos{
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/IMG_1918.JPG);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin-top: 100px;
}
.proyectos .deg-fondo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
}
.proyectos .ejeZproyecto{
    position: relative;
    width: 100%;
    height: 100%;
}
.proyectos .cont-proyectos{
    width: 90%;
    margin: auto;
    padding-top: 100px;
}
.proyectos .cont-proyectos .titulo-proyecto{
    border: 2px solid #fff;
    padding: 10px;
    text-align: center;
    width: 50%;
    margin: auto;
}
.proyectos .cont-proyectos .titulo-proyecto h2{
    font-size: 40px;
    color: #fff;
    font-weight: normal;
}
.proyectos .cont-proyectos .titulo-proyecto hr{
    background: #fff;
    width: 50%;
    margin: 10px auto;
}
.proyectos .cont-proyectos .img-proyectos{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 80px;
    padding-bottom: 100px;
}
.proyectos .cont-proyectos .img-proyectos img{
    width: calc(30% - 10px);
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
}

/* PROYECTOS */

/* TESTIMONIOS */

.testimonios{
    width: 100%;
    margin-top: 120px;
}
.testimonios .titulo-testimonios{
    width: 50%;
    margin: auto;
    text-align: center;
}
.testimonios .titulo-testimonios h2{
    font-size: 50px;
    color: var(--negro);
    font-weight: normal;
    margin-bottom: 10px;
}
.testimonios .titulo-testimonios hr{
    width: 60%;
    margin: auto;
    height: 2px;
    background-color: var(--negro);
    border: none;
}
.testimonios .caja-testimonios{
    width: 90%;
    margin: 80px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.testimonios .caja-testimonios .tarjeta-testimonio{
    width: 45%;
    margin: 20px;
}
.testimonios .caja-testimonios .tarjeta-testimonio .img-tarjeta{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.testimonios .caja-testimonios .tarjeta-testimonio .img-tarjeta img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    transition: 200ms;
}
.testimonios .caja-testimonios .tarjeta-testimonio .text-testimonio{
    width: 100%;
    border: 2px solid var(--rojo);
    margin-top: 30px;
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
}
.testimonios .caja-testimonios .tarjeta-testimonio .text-testimonio h4{
    color: var(--rojo);
    font-weight: normal;
    font-size: 27px;
    text-align: center;
    margin-bottom: 20px;
    transition: 200ms;
}
.testimonios .caja-testimonios .tarjeta-testimonio .text-testimonio p{
    font-size: 19px;
    color: var(--negro);
    line-height: 35px;
    transition: 200ms;
}
.testimonios .caja-testimonios .tarjeta-testimonio .text-testimonio:hover{
    border: 2px solid var(--azul);
}
.testimonios .caja-testimonios .text-testimonio:hover h4{
    color: var(--azul);
}

/* TESTIMONIOS */

/* FOOTER */

.footer{
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/fondo2.webp);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.footer .deg-footer{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
}
.footer .ejeZfooter{
    position: relative;
    width: 100%;
    height: 100%;
}
.footer .cont-footer{
        width: 90%;
        padding-top: 100px;
        margin: auto;
}
.footer .cont-footer .titulo-footer{
    width: 50%;
    margin: auto;
    border: 2px solid #fff;
    padding: 15px;
}
.footer .cont-footer .titulo-footer h2{
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 10px;
}
.footer .cont-footer .titulo-footer hr{
    width: 80%;
    margin: auto;
}
.footer .cont-footer .form-cont{
    width: 60%;
    background: #fff;
    border-radius: 24px;
    border: 2px solid var(--rojo);
    margin: 50px auto;
    padding: 30px;
    margin-bottom: 150px;
}
.footer .cont-footer .form-cont #form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.footer .cont-footer .form-cont #form label{
    text-align: center;
    color: var(--negro);
    font-size: 22px;
    margin: 30px 0 10px 0;
}
.footer .cont-footer .form-cont #form input{
    width: 90%;
    margin: auto;
    border: 2px solid var(--rojo);
    border-radius: 24px;
    outline: none;
    height: 40px;
    text-align: center;
    font-size: 17px;
    color: var(--negro);
}
.footer .cont-footer .form-cont #form textarea{
    width: 90%;
    height: 200px;
    margin: auto;
    border: 2px solid var(--rojo);
    border-radius: 24px;
    outline: none;
    font-size: 15px;
    color: var(--negro);
    padding: 20px;
}
.footer .cont-footer .form-cont #form .enviar{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 40px 0;
}
.footer .cont-footer .form-cont #form .enviar button{
    width: 150px;
    height: 40px;
    background: var(--rojo);
    border-radius: 24px;
    border: none;
    outline: none;
    font-size: 22px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    transition: .5s;
}
.footer .cont-footer .form-cont #form .enviar button:hover{
    background: var(--azul);
}
.footer .text-footer{
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: rgba(0, 0, 0, .8);
    border-top: 5px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .text-footer p{
    color: #fff;
    font-size: 20px;
}
.form-cont form .contact-form-loader{
    margin-top: 2rem;
}

/* FOOTER */

/* MEDIA QUERY */

@media only screen and (max-width:900px){
    .btn-menu > .fa-bars{
        display: block;
        position: absolute;
        top: 20px;
        right: 30px;
        font-size: 28px;
        cursor: pointer;
    }
    .btn-menu > .fa-bars:hover{
        color: var(--rojo);
    }
    .btn-menu > .fa-times{
        color: var(--rojo);
    }
    .menu .list-cont{
        position: absolute;
        top: 60px;
        left: -100%;
        width: 100%;
        height: calc(100vh - 60px);
        background-color: #fff;
    }
    .menu .list-cont .lists{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-top: 5px solid var(--rojo);
    }
    .menu .list-cont .lists li{
        width: 90%;
        margin: 10px 0;
        border-bottom: 1px solid var(--rojo);
        text-align: center;
    }
    .menu .list-cont .lists li a{
        font-size: 20px;
    }
    .menu .list-cont .lists li a.activo{
        background: none;
        color: var(--rojo);
    }
    .menu .list-cont .lists li a:hover{
        background: none;
        color: var(--rojo);
    }
}

@media only screen and (max-width: 773px){
    
    .img-header .bienvenido{
        font-size: 40px;
    }
    .img-header .bienvenido > button{
        width: 130px;
        font-size: 20px;
    }


    /* NOSOTROS */
    .acerca .info-cont .acerca-galeria{
        flex-direction: column;
    }
    
    .acerca .info-cont .acerca-galeria img{
        width: 100%;
    }
    .acerca2 .info-cont2 .acerca-galeria2{
        flex-direction: column;
    }
    .acerca2 .info-cont2 .acerca-galeria2 img{
        width: 100%;
    }
    /* NOSOTROS */

    /* PROYECTOS */
    .proyectos .cont-proyectos .img-proyectos img{
        width: 80%;
        margin-bottom: 30px;
    }
    .testimonios .caja-testimonios .tarjeta-testimonio{
        width: 80%;
    }
    
}

@media only screen and (max-width: 590px){
    /* IMG-HEADER */
    .img-header .bienvenido h1{
        font-size: 3rem;
        text-align: center;
    }
    .img-header .bienvenido hr{
        width: 100%;
    }
    .img-header .bienvenido p{
        font-size: 17px;
    }
    .img-header .bienvenido > button{
        width: 100px;
        font-size: 17px;

    }
    .proyectos .cont-proyectos .titulo-proyecto{
        border: 2px solid #fff;
        padding: 10px;
        text-align: center;
        width: 70%;
        margin: none;
        display: flex;
       justify-content: center;
       align-items: center;
       text-align: center;
    }
    .proyectos .cont-proyectos .titulo-proyecto hr{
        display: none;
    }
    .cont-proyectos .titulo-proyecto h2{
        width: 100%;
    }
    .testimonios .titulo-testimonios{
        align-items: center;
        width: 100%;
    }
    .footer .cont-footer .form-cont{
        width: 90%;
    }
    .testimonios .caja-testimonios .tarjeta-testimonio{
        width: 80%;
    }
}

@media only screen and (max-width:890px){
    /* TESTIMOONIOS */
    .testimonios .caja-testimonios .tarjeta-testimonio .img-tarjeta{
        width: 200px;
        height: 200px;
        margin: 0 auto;
    }
    .testimonios .caja-testimonios .tarjeta-testimonio .text-testimonio h4{
        font-size: 25px;
    }
    .testimonios .caja-testimonios .tarjeta-testimonio .text-testimonio p{
        font-size: 17px;
        line-height: 35px;
    }
}
@media only screen and (max-width: 900px){
    .footer .form-cont{
        width: 100%;
    }
    .footer .form-cont #form input{
        width: 100%;
    }
    .footer .form-cont #form textarea{
        width: 100%;
    }
}
@media only screen and (min-width: 740px){
    .acerca .info-cont{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "tit tit"
                    "text foto"
                    "btn btn";
    }

    .acerca .info-cont h1{
        grid-area: tit;
    }
    .acerca .info-cont .texto{
        grid-area: text;
    }
    .acerca .info-cont .acerca-galeria{
        margin-top: 10px;
        grid-area: foto;
    }
    .acerca .info-cont .acerca-mas{
        display: grid;
        grid-area: btn;
    }
    .acerca .info-cont .acerca-galeria{
        /* max-height: 400px; */
    }
}
/* MEDIA QUERY */